@import "variables";

#services {
  display: flex;
  background-color: $background-gray;
  padding: 120px 0 100px;

  .container {

    .services_header {
      @include header_pages();
    }

    .services_body {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 40px;


      .services-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        padding: 30px 20px 50px 20px;
        background-color: $white;
        text-align: center;
        max-width: 20%;

        @include media('max', 'lg') {
          max-width: 20%;
        }

        @include media('max', 'md') {
          max-width: 40%;
        }

        @include media('max', 'sm') {
          max-width: 100%;
        }

        .image {
          display: flex;
          justify-content: center;
          margin-top: 30px;

          & img {
            max-width: 30px;
          }
        }

        .title {
          @include style_text(600, 15px);
          margin-top: 40px;
        }

        .text {
          @include style_text(300, 14px);
          line-height: 2em;
          color: $dark-gray;
          margin-top: 30px;
        }
      }
    }
  }
}