$background-dark: #666666;
$background-gray: #f5f5f5;
$background-white: #ffffff;

$red: #FF5252;
$orange: #E7746F;
$dark-gray: #878787;
$white-gray: #ebebeb;
$black: rgb(17, 17, 17);
$dark: #222222;
$white: #ffffff;
$brown: #9e5406;

$img-href: "../../img";

$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@mixin style_text($fw, $fs) {
  font-weight: $fw;
  font-size: $fs;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  @include media('min', md) {
    width: 750px;
  }

  @include media('min', lg) {
    width: 970px;
  }
  
  @include media('min', xl) {
    width: 1170px;
  }



}

@mixin header_pages() {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  .title {
    position: relative;
    @include style_text(600, 30px);
    text-transform: uppercase;
    padding-bottom: 1em;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 50px);
      width: 100px;
      height: 1px;
      background-color: $dark-gray;
    }
  }

  .subtitle {
    @include style_text(300, 20px);
    color: $dark-gray;
    margin-top: 2em;
  }
}
